<section id="make_fund" class="content">
    <form action="">
        {% csrf_token %}
        <input type="hidden" name="idea_id" value="{{ idea_id }}">
        <label for="amount">AMOUNT</label>
        <input type="number" id="amount" placeholder="AMOUNT" name="amount">
        <label for="comment">COMMENT</label>
        <input type="text" id="comment" placeholder="COMMENT" name="comment">
        <input type="button" name="submit" value="SUBMIT">
        <script>
            $(document).ready(function () {
                $('input[name=submit]').click(function () {
                    $.post('/fund/make', $('form').serialize(), function (data) {
                        alert(data);
                    })
                })
            });
        </script>
    </form>
</section>