<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/nav_bar.css">
    <script src="/static/js/ckeditor/ckeditor.js"></script>
    <script src="/static/js/ckeditor/adapters/jquery.js"></script>
</head>
<body>

<header>
</header>
<script src="/static/js/header.js"></script>
<h1 class="content">FUNDS: {{ funds.first.fonder.nick_name }}</h1>
<section id="user_funds_list" class="content">
    {% if funds %}
        <ul>
            {% for fund in funds %}
                <li>
                    <a href="/idea/{{ fund.idea.id }}">
                        {{ fund.idea.title }}
                    </a>
                    AMOUNT:{{ fund.amount }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% include 'footer.html' %}
</body>
</html>