<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
<script src="/static/js/account/account.js"></script>
<link rel="stylesheet" href="/static/css/header_and_footer.css">
<div id="header">
    <div class="content">
        <div id="logo">
            IDEA STUDIO
        </div>
        <nav>
            <div class="button"><a href="/">HOME</a></div>
            <div class="button">
                <div><a href="/idea/list">IDEAS</a></div>
            </div>
            <div class="button">
                <div>ABOUT US</div>
            </div>
            <div class="button">
                <div><a href="/fund/my">MY FUND</a></div>
            </div>
            <div class="button">
                <div><a href="/idea/editlist">MY IDEAS</a></div>
            </div>
            <div class="button">
                <div><a href="/favourite/list">MY FAVOURITE</a></div>
            </div>
            {% if request.session.user != None %}
                <div class="button accountButton" id="accountButton">
                <div>{{ request.session.user.nick_name }}</div>
            {% else %}
                <div class="button accountButton" id="signInButton">
                <div>SIGN IN</div>
            {% endif %}
            <script>
                $(document).ready(function () {
                    $('.accountButton').click(function () {
                        var list = ($('.header_list'));
                        list.show();
                    })
                })
            </script>
            {% if request.session.user != None %}
                <div class="header_list" id="accountDiv">
                    <form action="#">
                        <input type="button" value="LOG OUT" name="logOut" id="logOut">
                        <div><a href="/account/modify">MODIFY</a></div>
                    </form>
                </div>
            {% else %}
                <div class="header_list" id="signInDiv">
                    <form action="#" id="signInForm">
                        {% csrf_token %}
                        <span id="errorDiv"></span>
                        <input type="text" name="userName" placeholder="USER NAME">
                        <input type="password" name="password" placeholder="PASSWORD">
                        <input type="button" name="signIn" value="SIGN IN" id="signIn">
                        <input type="button" name="signUp" value="SIGN UP" id="signUp">
                    </form>
                </div>
            {% endif %}

            </div>
        </nav>
    </div>
</div>
