<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>

    <link rel="stylesheet" href="/static/css/newsList.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>


<header>
</header>
<script src="/static/js/header.js"></script>
<section id="newIdeas">
    {% for news in recent_news %}
        <div class="newsContainer content">
            <div class="newsContainerRight">
                <img src="/{{ news.news.banner }}" alt="" height="20px" width="50px">
                <div class="newsName"><a href="/news/{{ news.news.id }}">{{ news.news.title }}</a></div>
                <div class="newsAbstract">should be abstract.{{ news.news.author }}</div>
                <div class="newsTime">{{ news.news.time_created }}</div>
            </div>
        </div>
    {% endfor %}
</section>
{% include "footer.html" %}
</body>
</html>