<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>


<header>
</header>
<script src="/static/js/header.js"></script>

<section class="content" style="font-size: 2rem;padding: 2rem;">
    Welcome to the Idea Studio, Idea Studio is founded on duckhack sponsored by JP Morgan at 2018.
    Two programmer who do not have specific idea decide to create a platform for the people who have idea without
    start-up money and looking for quality projects.Help them find each other.
</section>

<section id="newIdeas">
    {% for news in recent_news %}
        <div class="newsContainer content">
            <div class="newsContainerRight">
                <img src="/{{ news.news.banner }}" alt="" height="20px" width="50px">
                <div class="newsName"><a href="/news/{{ news.news.id }}">{{ news.news.title }}</a></div>
                <div class="newsAbstract">should be abstract.{{ news.news.author }}</div>
                <div class="newsTime">{{ news.news.time_created }}</div>
            </div>
        </div>
    {% endfor %}
</section>
{% include "footer.html" %}
</body>
</html>