<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/nav_bar.css">
    <script src="/static/js/ckeditor/ckeditor.js"></script>
    <script src="/static/js/ckeditor/adapters/jquery.js"></script>
    <script src="/static/js/news/news_editor.js"></script>
</head>
<body>

<header>
</header>
<script src="/static/js/header.js"></script>
<h1 class="content">EDIT IDEA</h1>
<form action="" method="post"
      id="newsEditor" class="content" enctype="multipart/form-data">
    {% csrf_token %}
    {% ifnotequal idea None %}
        <input type="hidden" name="id" value="{{ idea.id }}">
    {% else %}
        <input type="hidden" name="id" value="0">
    {% endifnotequal %}

    <div class="editorBlock">
        <label for="title">TITLE</label>
        <input type="text" name="title" id='title' value="{{ idea.title }}">
    </div>
    <div class="editorBlock">
        <label for="editor">CONTENT</label>
        <textarea name="content" id="editor">{{ idea.content|safe }}</textarea>
    </div>
    <div class="editorBlock">
        <input type="button" id="submit" name="submit" value="SUBMIT">
    </div>
</form>
{% include 'footer.html' %}
</body>
</html>