<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Ideas</title>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/nav_bar.css">
    <link rel="stylesheet" href="/static/jquery_ui_1.12.1/jquery-ui.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="/static/jquery_ui_1.12.1/jquery-ui.js"></script>
    <script src="/static/js/news/news_admin.js"></script>
</head>
<body>

<header>
</header>
<script src="/static/js/header.js"></script>

<section class="nav_bar content">
    <ul>
        <li><a href="/site_admin">ADMIN</a></li>
        <li>></li>
        <li>MY IDEAS</li>
    </ul>
</section>
<section>
    <a href="/idea/edit">NEW IDEA</a>
</section>
<section id="ideaList" class="content">
    {% if ideas %}
        <table>
            <tbody>
            {% for idea in ideas %}
                <tr>
                    <td>
                        <a href="/idea/edit/{{ idea.id }}">{{ idea.title }}</a>
                    </td>
                    <td>{{ idea.viewed }}</td>
                    <td>{{ idea.time_modified }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</section>
{% include 'footer.html' %}
</body>
</html>